﻿@page
@model GestionRestaurant.Pages.Menu.DeleteModel

@{
    ViewData["Title"] = "Suppression";
    ViewData["parallax-src"] = "/images/blog_2.jpg";
    ViewData["home-title"] = Model.Item.Nom;
}

@section Styles {
    <link rel="stylesheet" href="~/css/menu.css" />
}


<h3>Êtes-vous certain de vouloir @(Model.DéjàCommandé ? "désactiver" : "supprimer") cet item?</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="card menu-item">
            <partial name="_MenuItemCard" model="@Model.Item" />
        </div>
    </div>

</div>
<hr />
<div>
    <form method="post">
        <input type="hidden" asp-for="Item.Id" />
        <input type="submit" value="@(Model.DéjàCommandé ? "Désactiver" : "Supprimer")" class="btn btn-danger" />
    </form>
</div>
