﻿@page
@model GestionRestaurant.Pages.Menu.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/menu.css" />
}


<h1>Details</h1>

<div>
    <h4>ItemMenu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemMenu.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemMenu.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemMenu.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemMenu.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemMenu.Prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemMenu.Prix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemMenu.PhotoMimeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemMenu.PhotoMimeType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemMenu.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemMenu.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemMenu.Actif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemMenu.Actif)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ItemMenu.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
