﻿@page
@model GestionRestaurant.Pages.Menu.IndexModel

@{
    ViewData["Title"] = "Menu";
    ViewData["parallax-src"] = "/images/blog_2.jpg";
    ViewData["home-title"] = "Menu";
}

@section Styles {
    <link rel="stylesheet" href="~/css/menu.css" />
}

<p>
    <a asp-page="Create">Nouvel item</a>
</p>
<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="col-sm-4">
            <div class="card menu-item">
                <partial name="_MenuItemCard" model="@item" />
                <div class="btn-group">
                    <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    }
</div>
