﻿@page
@model GestionRestaurant.Pages.Clients.CreerModel

@{
    ViewData["Title"] = "Créer votre compte";
    ViewData["parallax-src"] = "/images/blog_3.jpg";

}

<h2>Veuillez entrer vos informations de livraison</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.Nom" class="control-label"></label>
                <input asp-for="Client.Nom" class="form-control" />
                <span asp-validation-for="Client.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Adresse" class="control-label"></label>
                <input asp-for="Client.Adresse" class="form-control" />
                <span asp-validation-for="Client.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Téléphone" class="control-label"></label>
                <input asp-for="Client.Téléphone" class="form-control" />
                <span asp-validation-for="Client.Téléphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Étape suivante" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
