﻿@page
@model GestionRestaurant.Pages.Livreurs.Commandes.IndexModel

@{
    ViewData["Title"] = "Livraisons";
    ViewData["parallax-src"] = "/images/blog_4.jpg";
    ViewData["home-title"] = "Livraisons";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commandes[0].Livreur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commandes[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commandes[0].MomentCommandé)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commandes[0].MomentLivraisonEstimé)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Commandes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Livreur.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentCommandé)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentLivraisonEstimé)
            </td>
            <td>
                <form method="post">
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <button asp-page="./Edit" asp-page-handler="Terminé" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Livraison complétée</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
