﻿
.card.menu-item img {
    height: 200px;
    object-fit: cover;
    object-position: top center;
}

.card.menu-item .card-text {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3.75em; /* 2 * line-height (1.875) */
}