﻿
.home {
    height: 450px;
}

.parallax-window {
    min-height: 300px;
    max-height: 425px;
    background: transparent;
}

.parallax-mirror::after {
    background-image: none;
}


.row .card.menu-item {
    margin-bottom: 1em;
}