﻿@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.intro_content
	{
		width: 600px;
		right: -100px;
	}
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_nav
	{
		margin-left: 70px;
	}
	.main_nav ul li:not(:last-child)
	{
		margin-right: 35px;
	}
	.intro_content
	{
		position: relative;
		top: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		right: auto;
		margin-bottom: 102px;
		width: 100%;
	}
	.dish_price
	{
		margin-left: 0px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.hamburger
	{
		display: block;
	}
	.hamburger_bar
	{
		display: block;
	}
    .main_nav,
    .lien-connexion {
        display: none;
    }
	.sig_content_container
	{
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		width: 100%;
		z-index: 1;
		margin-bottom: 102px;
	}
	.sig_image
	{
		height: auto;
	}
	.sig_image .background_image
	{
		display: none;
	}
	.sig_image img
	{
		display: block;
	}
	.themenu_column:not(:last-child)
	{
		margin-bottom: 80px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 80px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.hamburger_bar
	{
		right: calc((100vw - 510px) / 2 - 15px);
	}
	.home_subtitle
	{
		font-size: 48px;
	}
	.home_title h1
	{
		font-size: 56px;
	}
	.intro_content
	{
		padding-left: 49px;
	}
	.intro_col:not(:last-child)
	{
		margin-bottom: 30px;
	}
	.res_input,
	.res_select
	{
		width: 150px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 14px;
	}
	.header_content,
	.header.scrolled .header_content
	{
		height: 80px;
	}
	.hamburger_bar
	{
		right: 0px;
		height: 80px;
	}
	.hamburger_bar.scrolled
	{
		height: 80px;
	}
	.home
	{
		height: 500px;
	}
	.home_subtitle
	{
		font-size: 30px;
	}
	.home_title h1
	{
		font-size: 36px;
	}
	.intro_content
	{
		padding-left: 30px;
	}
	.intro_subtitle
	{
		font-size: 30px;
	}
	.intro_title h2
	{
		font-size: 36px;
	}
	.intro_text
	{
		margin-top: 24px;
	}
	.sig_content_container
	{
		margin-bottom: 82px;
	}
	.sig_content
	{
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 52px;
		padding-bottom: 62px;
	}
	.sig_subtitle
	{
		font-size: 30px;
	}
	.sig_title h1
	{
		font-size: 36px;
	}
	.sig_name,
	.sig_price
	{
		font-size: 20px;
	}
	.themenu_stars
	{
		width: 164px;
		font-size: 28px;
	}
	.themenu_title
	{
		font-size: 36px;
	}
	.res_stars
	{
		font-size: 30px;
	}
	.res_title
	{
		font-size: 36px;
	}
	.res_form_container
	{
		width: 100%;
		margin-top: 60px;
	}
	.res_input:not(:last-child)
	{
		margin-right: 0px;
		margin-bottom: 12px;
	}
	.res_input,
	.res_select
	{
		width: 100%;
	}
	.footer_logo_title
	{
		font-size: 36px;
	}
	.footer_logo_subtitle
	{
		font-size: 12px;
	}
	.footer_contact_title,
	.footer_contact_text
	{
		font-size: 14px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}