﻿@page
@model GestionRestaurant.Pages.Livreurs.CreateModel

@{
    ViewData["Title"] = "Nouveau livreur";
    ViewData["parallax-src"] = "/images/blog_4.jpg";
    ViewData["home-title"] = "Création d'un nouveau livreur";

}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Livreur.Nom" class="control-label"></label>
                <input asp-for="Livreur.Nom" class="form-control" />
                <span asp-validation-for="Livreur.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livreur.Téléphone" class="control-label"></label>
                <input asp-for="Livreur.Téléphone" class="form-control" />
                <span asp-validation-for="Livreur.Téléphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
