﻿@page
@model GestionRestaurant.Pages.Livreurs.DeleteModel

@{
    ViewData["Title"] = "Suppression d'un livreur";
    ViewData["parallax-src"] = "/images/blog_4.jpg";
    ViewData["home-title"] = @Model.Livreur.Nom;

}


<h3>Êtes-vous certain de vouloir @(Model.Livreur.Commandes.Any() ? "désactiver" : "supprimer") ce livreur?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livreur.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livreur.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livreur.Téléphone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livreur.Téléphone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livreur.Désactivé)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livreur.Désactivé)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Livreur.Id" />
        <input type="submit" value="@(Model.Livreur.Commandes.Any() ? "Désactiver" : "Supprimer")" class="btn btn-danger" />
    </form>
</div>
