﻿@page
@model GestionRestaurant.Pages.Livreurs.IndexModel

@{
    ViewData["Title"] = "Livreurs";
    ViewData["parallax-src"] = "/images/blog_4.jpg";
    ViewData["home-title"] = "Livreurs";
}


<p>
    <a asp-page="Create">Nouveau livreur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livreurs[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livreurs[0].Téléphone)
            </th>
            <th>
                État
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Livreurs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Téléphone)
                </td>
                <td>
                    @(item.Désactivé ? "Désactivé" : "Actif")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    @if (!item.Commandes.Any())
                    {
                        <span>|&nbsp;</span><a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
