﻿@model Models.ItemPanier
<div class="card menu-item">
    <partial name="_MenuItemCard" model="@Model.Item" />
    <button asp-page-handler="Supprimer" asp-route-id="@Model.Item.Id" class="btn btn-danger supprimer"><i class="fa fa-trash" aria-hidden="true"></i></button>
    <div class="card-footer">
        <div class="text-right">
            <label asp-for="@Model.Quantité"></label>
            <input asp-for="@Model.Quantité" name="@Model.Item.Id" />
        </div>
    </div>
</div>
