﻿@using Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizzeria de feu</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>


    <!-- Styles from The Venue Theme -->
    <link rel="stylesheet" type="text/css" href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/colorbox/colorbox.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/jquery-datepicker/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/jquery-timepicker/jquery.timepicker.css">
    <link rel="stylesheet" type="text/css" href="~/css/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/custom.css">
    @if (IsSectionDefined("Styles"))
    {
        @await RenderSectionAsync("Styles")
    }
    <!-- End Styles from theme -->


    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo">
                            <a asp-page="/Index">
                                <div>Pizzeria</div>
                                <div>&nbsp;de feu&nbsp;</div>
                            </a>
                        </div>
                        <nav class="main_nav">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a asp-page="/Index">Accueil</a></li>
                                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Livreur")))
                                {
                                    <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                                        <div class="dropdown-menu">
                                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                            {
                                                <a class="dropdown-item" asp-page="/Administration/Index">Tableau de bord</a>
                                                <a class="dropdown-item" asp-page="/Menu/Index">Menu</a>
                                                <a class="dropdown-item" asp-page="/Livreurs/Index">Livreurs</a>
                                                <div class="dropdown-divider"></div>
                                            }
                                            <a class="dropdown-item" asp-page="/Livreurs/Commandes/Index">Livraisons</a>
                                        </div>
                                    </li>
                                    <li><a asp-page="/Paniers/Index"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></li>
                                }
                            </ul>
                        </nav>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <span class="lien-connexion ml-auto">@User.Identity.Name</span>
                            <form method="post" action="/Identity/Account/Logout">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="lien-connexion ml-1 btn pt-0 pl-4" value="Logout" />
                            </form>
                        }
                        else
                        {
                            <a href="/Identity/Account/Login" class="lien-connexion ml-auto">Connexion / Inscription</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Hamburger -->

    <div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
        <div class="hamburger">
            <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
                <span>menu</span>
                <div class="hamburger_container">
                    <div class="menu_hamburger">
                        <div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                        <div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
                        <div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu -->

    <div class="menu trans_800">
        <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
            <ul>
                <li><a asp-page="/Index">Accueil</a></li>
                <li><a asp-page="/Administration/Index">Tableau de bord</a></li>
                <li><a asp-page="/Menu/Index">Menu</a></li>
                <li><a asp-page="/Livreurs/Index">Livreurs</a></li>
                <li><a asp-page="/Livreurs/Commandes/Index">Livraisons</a></li>
                <li><a asp-page="/Paniers/Index"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <a asp-page="/Connexion" class="menu-lien-connexion ml-auto">Connexion / Inscription</a>
    </div>

    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["parallax-src"]" data-speed="0.8"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <div class="home_subtitle page_subtitle">La Pizzeria de feu</div>
                            <div class="home_title"><h1>@ViewData["home-title"]</h1></div>
                            <div class="home_text ml-auto mr-auto">
                                <p>@ViewData["home-text"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll_icon"></div>
    </div>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">

                <!-- Footer Logo -->
                <div class="col-lg-3 footer_col">
                    <div class="footer_logo">
                        <div class="footer_logo_title">Pizzeria</div>
                        <div class="footer_logo_subtitle">&nbsp;de feu&nbsp;</div>
                    </div>
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p style="line-height: 1.2;">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>

                <!-- Footer About -->
                <div class="col-lg-6 footer_col">
                    <div class="footer_about">
                    </div>
                </div>

                <!-- Footer Contact -->
                <div class="col-lg-3 footer_col">
                    <div class="footer_contact">
                        <ul>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div><div class="footer_contact_title">Adresse:</div></div>
                                <div class="footer_contact_text">174, Av. de la Pizzeria</div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div><div class="footer_contact_title">Téléphone:</div></div>
                                <div class="footer_contact_text">+1.514.420.0174</div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div><div class="footer_contact_title">Courriel:</div></div>
                                <div class="footer_contact_text">francis.filion@cstjean.qc.ca</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Scripts from TheVenue theme -->
    @*<script src="styles/bootstrap-4.1.2/popper.js"></script>*@
    <script src="~/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/plugins/jquery-datepicker/jquery-ui.js"></script>
    <script src="~/plugins/jquery-timepicker/jquery.timepicker.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- End Scripts from theme -->


    @RenderSection("Scripts", required: false)
    @RenderSection("Stripe", required: false)
</body>
</html>
