﻿@model Models.ItemMenu

@if (Model.Photo != null && Model.PhotoMimeType != null)
{
    <img src="data:@Model.PhotoMimeType;base64,@Convert.ToBase64String(Model.Photo)" alt="@Model.Nom" />
}
<div class="card-body">
    <h3 class="card-title">@Model.Nom</h3>
    <p class="card-text">@Model.Description</p>
    <p class="text-right text-muted">@Model.Prix $</p>
</div>
