﻿@page
@model GestionRestaurant.Pages.Commandes.DetailsModel

@{
    ViewData["Title"] = "Commande";
    ViewData["parallax-src"] = "/images/blog_3.jpg";
    ViewData["home-title"] = "État de la commande";
}

    <div>
        <h4>Commande</h4>
        <hr />


        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="@Model.Commande.État"></label>
            <div class="col-sm-10 form-control-plaintext">@Html.DisplayFor(_ => _.Commande.État)</div>
        </div>

        @if (Model.Commande.État == Models.ÉtatCommande.Complété)
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="@Model.Commande.MomentLivré"></label>
                <div class="col-sm-10 form-control-plaintext">@Html.DisplayFor(_ => _.Commande.MomentLivré)</div>
            </div>

        }
        else
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="@Model.Commande.MomentLivraisonEstimé"></label>
                <div class="col-sm-10 form-control-plaintext">@Html.DisplayFor(_ => _.Commande.MomentLivraisonEstimé)</div>
            </div>
        }

        <h4>Détails</h4>
        <ul class="list-group">
            @foreach(var item in Model.Commande.Items)
            {
            <li class="list-group-item">@item.Quantité&nbsp;&nbsp;&nbsp;@item.Item.Nom</li>
            }
        </ul>

    </div>
