﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
    ViewData["parallax-src"] = "/images/home.jpg";
    ViewData["home-title"] = "Là où tout brûle!";
    ViewData["home-text"] = "À la pizzeria de feu, vous vivrez une expérience inoubliable vous permettant d'utiliser vos 5 sens. De l'odeur du feu jusqu'au son des sirènes, vous ne le regretterez pas!";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}


<div class="text-center">
    <h1 class="display-4">Bienvenue à la pizzeria de feu </h1>
    <p>Démarrez votre commande!</p>
</div>

<div>
    @foreach (var catégorie in Model.Catégories)
    {
        <h2>@catégorie.Nom</h2>
        <div class="row">
            @foreach (var item in catégorie.Items.Where(_ => _.EstActif))
            {
                <div class="col-sm-6">
                    <partial name="_MenuItem" model="item" />
                </div>
            }
        </div>
    }

</div>
