﻿@page
@model GestionRestaurant.Pages.Paniers.CommanderModel

@{
    ViewData["Title"] = "Commander";
    ViewData["parallax-src"] = "/images/blog_3.jpg";
    ViewData["home-title"] = "Validation de la commande";
}


<div class="row">
    <div class="col">
        <h3>@Html.DisplayNameFor(model => model.Commande.Client.Nom)</h3>
        @Html.DisplayFor(model => model.Commande.Client.Nom)
        <h3>@Html.DisplayNameFor(model => model.Commande.Client.Adresse)</h3>
        @Html.DisplayFor(model => model.Commande.Client.Adresse)
        <h3>@Html.DisplayNameFor(model => model.Commande.Client.Téléphone)</h3>
        @Html.DisplayFor(model => model.Commande.Client.Téléphone)
    </div>
</div>
<hr />
<h2>Commande</h2>
<div class="row">
    <table class="table col-12">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col" class="text-right">@Html.DisplayNameFor(model => model.Commande.Items.First().Quantité)</th>
                <th scope="col" class="text-right">@Html.DisplayNameFor(model => model.Commande.Items.First().PrixUnitaire)</th>
                <th scope="col" class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Commande.Items)
            {
                <tr>
                    <th scope="row">@item.Item.Nom</th>
                    <td class="text-right">@item.Quantité</td>
                    <td class="text-right">@item.PrixUnitaire $</td>
                    <td class="text-right">@item.PrixTotal $</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">@Model.Commande.PrixTotal $</td>
            </tr>

        </tfoot>
    </table>

</div>

<form method="post">
    <div class="row">
        <div class="ml-auto">
            <button class="btn btn-dark">Confirmer</button>
        </div>
    </div>
</form>

<div>
    <a asp-page="/Index">Continuer à magasiner</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
