@page
@model GestionRestaurant.Pages.Paniers.IndexModel
@{
    ViewData["Title"] = "Panier";
    ViewData["parallax-src"] = "/images/home.jpg";
    ViewData["home-title"] = "Commande";
}

@section Styles {
    <link rel="stylesheet" href="~/css/panier.css" />
}


@if (!Model.Panier.Items.Any())
{
    <h2>Votre panier est vide.</h2>
    <a asp-page="../Index" class="btn">Retour à l'accueil</a>
}
else
{
    <a asp-page="../Index" class="btn">Ajouter d'autre items</a>
    <form method="post">
        <div class="row">
            @foreach (var item in Model.Panier.Items)
            {
                <div class="col-sm-4">
                    <partial name="_CommandeItem" model="@item" />
                </div>
            }
        </div>
        <div class="row">
            <h4 class="ml-auto">Total: @Model.Panier.Total</h4>
        </div>
    </form>
    <form asp-page-handler="Commander" method="post" id="payment-form">
        <div class="form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element" class="col-12">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        <button class="btn btn-info">Payer</button>
    </form>
    @section Stripe {
        <script src="https://js.stripe.com/v3/"></script>

        <script>
            // Create a Stripe client.
            var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');

            // Create an instance of Elements.
            var elements = stripe.elements();

            // Custom styling can be passed to options when creating an Element.
            // (Note that this demo uses a wider set of styles than the guide below.)
            var style = {
                base: {
                    color: '#32325d',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            // Create an instance of the card Element.
            var card = elements.create('card', { style: style });

            // Add an instance of the card Element into the `card-element` <div>.
            card.mount('#card-element');

            // Handle real-time validation errors from the card Element.
            card.addEventListener('change', function (event) {
                var displayError = document.getElementById('card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            // Handle form submission.
            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                stripe.createToken(card).then(function (result) {
                    if (result.error) {
                        // Inform the user if there was an error.
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server.
                        stripeTokenHandler(result.token);
                    }
                });
            });

            // Submit the form with the token ID.
            function stripeTokenHandler(token) {
                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
            }
        </script>
    }
}
